# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment directories
venv/
env/
.venv/
*.env

# Log files
*.log*

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
Thumbs.db

# Distribution and packaging files
dist/
build/
*.egg-info/
*.egg

# Coverage reports
htmlcov/
.coverage
*.cover
*.coverage.*
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and coverage directories
.tox/
.nox/
pytest_cache/

# IDE and editor configurations
.vscode/
.idea/
*.iml

# Other environment files
.env
*.env

# PyInstaller
*.spec

# Ignore mypy and other static type checkers
.mypy_cache/
.dmypy.json
dmypy.json

# Ignore database files
*.sqlite3